@import url('https://fonts.googleapis.com/css2?family=Allura&family=Fleur+De+Leah&family=Lovers+Quarrel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Allura, "Fleur De Leah", cursive;
    font-size: 1.08em;
    font-weight: lighter;
    flex: 1;
    border-radius: 2px;

}

body {
    background-image: url("../img/Background_Porftolio_2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 60%, #313030b0 80%);
    z-index: 1;
    border-radius: 0px !important;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25150577;
    color: navajowhite;
    padding: 10px 0;
    text-align: center;
    width: 66%;
    height: 5em;
}

.header h1 {
    font-family: Allura, "Fleur De Leah", "Lovers Quarrel", cursive;
    font-weight: lighter;
    font-size: 3.6em;
    width: 100%;
    padding: auto;
}

.menu {
    position: fixed;
    top: 5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #703c0881;
    padding: 10px 0;
    text-align: center;
    width: 66%;
    min-height: 1.6em;
    max-height: 1.6em;
}

.menu * {
    overflow: unset;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    color: #ccbd13;
    transition: text-shadow 0.8s ease-in-out;
}

.menu ul li a:hover {
    text-shadow: 0 0 5px #ccbd13,
                 0 0 10px #13cc7c9e;
}

.content {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin-top: 6.6em; 
    margin-bottom: 2em;
    color: black;
    background-color: rgba(255, 228, 196, 0.427);
    padding: 2em 2em 2em 3em;
    width: 66%;
    height: calc(100vh - 6.6em - 2em); 
    border-radius: 2px;
    box-shadow: 30px -5px 45px #313030b0,
                -30px 5px 45px #313030b0;
    overflow-y: auto; 
}

.content * {
    min-width: 100%;
    border: 2px solid #ccbd13;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2515058e;
    color: navajowhite;
    padding: 0.3rem 0 0 0;
    width: 66%;
    min-height: 2em;
    max-height: 2em;
}

/*
  !!!!!!!!!!!!!!!!!!
  !!RESPONSIVENESS!! 
  !!!!!!!!!!!!!!!!!!
*/

@media (max-width: 768px) {
    .header h1 {
        font-size: 2.5em;
    }

    .header, .menu, .content, .footer {
        width: 100%; 
    }

    .content {
        padding: 1em;
    }
}

